In [1]:
import pandas as pd
ies_df = pd.read_csv('IES.csv', sep=';', encoding='latin1')
IGC_df = pd.read_excel('IGC.xlsx')

In [2]:
ies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2537 non-null   int64
 1   CO_IES                        2537 non-null   int64
 2   NO_IES                        2537 non-null   object
 3   SG_IES                        2111 non-null   object
 4   TP_CATEGORIA_ADMINISTRATIVA   2537 non-null   int64
 5   TP_ORGANIZACAO_ACADEMICA      2537 non-null   int64
 6   CO_REGIAO                     2537 non-null   int64
 7   CO_UF                         2537 non-null   int64
 8   CO_MUNICIPIO                  2537 non-null   int64
 9   IN_CAPITAL                    2537 non-null   int64
 10  QT_TEC_TOTAL                  2537 non-null   int64
 11  QT_TEC_SUPERIOR_FEM           2537 non-null   int64
 12  QT_TEC_SUPERIOR_MASC          2537 non-null   int64
 13  QT_TEC_ESPECIALIZACAO_FEM     2537 non-null   int64
 14  QT_TEC_ESPECIALIZACAO_MASC    2537 non-null   int64
 15  QT_TEC_MESTRADO_FEM           2537 non-null   int64
 16  QT_TEC_MESTRADO_MASC          2537 non-null   int64
 17  QT_TEC_DOUTORADO_FEM          2537 non-null   int64
 18  QT_TEC_DOUTORADO_MASC         2537 non-null   int64
 19  IN_ACESSO_PORTAL_CAPES        2537 non-null   int64
 20  IN_ACESSO_OUTRAS_BASES        0 non-null      float64
 21  IN_ASSINA_OUTRA_BASE          2537 non-null   int64
 22  IN_REPOSITORIO_INSTITUCIONAL  2537 non-null   int64
 23  IN_BUSCA_INTEGRADA            2537 non-null   int64
 24  IN_SERVICO_INTERNET           2537 non-null   int64
 25  IN_CATALOGO_ONLINE            2537 non-null   int64
 26  QT_PERIODICO_ELETRONICO       2537 non-null   int64
 27  QT_LIVRO_ELETRONICO           2537 non-null   int64
 28  TP_REFERENTE                  2537 non-null   int64
 29  VL_RECEITA_PROPRIA            2537 non-null   float64
 30  VL_RECEITA_TRANSFERENCIA      2537 non-null   float64
 31  VL_RECEITA_OUTRA              2537 non-null   float64
 32  VL_DESPESA_PESSOAL_DOCENTE    2537 non-null   float64
 33  VL_DESPESA_PESSOAL_TECNICO    2537 non-null   float64
 34  VL_DESPESA_PESSOAL_ENCARGO    2537 non-null   float64
 35  VL_DESPESA_CUSTEIO            2537 non-null   float64
 36  VL_DESPESA_INVESTIMENTO       2537 non-null   float64
 37  VL_DESPESA_PESQUISA           2537 non-null   float64
 38  VL_DESPESA_OUTRA              2537 non-null   float64
 39  VL_RECEITA_TOTAL              2537 non-null   float64
 40  VL_DESPESA_TOTAL              2537 non-null   float64
dtypes: float64(13), int64(26), object(2)
memory usage: 812.8+ KB

In [3]:
IGC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2071 entries, 0 to 2070
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2071 non-null   int64
 1   CO_IES       2071 non-null   int64
 2   Graduacao    2052 non-null   float64
 3   Mestrado     2071 non-null   float64
 4   Doutorado    2071 non-null   float64
 5   IGC (Faixa)  2071 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 97.2+ KB

In [4]:
IES_df = ies_df.merge(IGC_df, on='CO_IES')
IES_df = IES_df.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)
IES_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2031 entries, 0 to 2030
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CO_IES                        2031 non-null   int64
 1   NO_IES                        2031 non-null   object
 2   SG_IES                        1735 non-null   object
 3   TP_CATEGORIA_ADMINISTRATIVA   2031 non-null   int64
 4   TP_ORGANIZACAO_ACADEMICA      2031 non-null   int64
 5   CO_REGIAO                     2031 non-null   int64
 6   CO_UF                         2031 non-null   int64
 7   CO_MUNICIPIO                  2031 non-null   int64
 8   IN_CAPITAL                    2031 non-null   int64
 9   QT_TEC_TOTAL                  2031 non-null   int64
 10  QT_TEC_SUPERIOR_FEM           2031 non-null   int64
 11  QT_TEC_SUPERIOR_MASC          2031 non-null   int64
 12  QT_TEC_ESPECIALIZACAO_FEM     2031 non-null   int64
 13  QT_TEC_ESPECIALIZACAO_MASC    2031 non-null   int64
 14  QT_TEC_MESTRADO_FEM           2031 non-null   int64
 15  QT_TEC_MESTRADO_MASC          2031 non-null   int64
 16  QT_TEC_DOUTORADO_FEM          2031 non-null   int64
 17  QT_TEC_DOUTORADO_MASC         2031 non-null   int64
 18  IN_ACESSO_PORTAL_CAPES        2031 non-null   int64
 19  IN_ACESSO_OUTRAS_BASES        0 non-null      float64
 20  IN_ASSINA_OUTRA_BASE          2031 non-null   int64
 21  IN_REPOSITORIO_INSTITUCIONAL  2031 non-null   int64
 22  IN_BUSCA_INTEGRADA            2031 non-null   int64
 23  IN_SERVICO_INTERNET           2031 non-null   int64
 24  IN_CATALOGO_ONLINE            2031 non-null   int64
 25  QT_PERIODICO_ELETRONICO       2031 non-null   int64
 26  QT_LIVRO_ELETRONICO           2031 non-null   int64
 27  TP_REFERENTE                  2031 non-null   int64
 28  VL_RECEITA_PROPRIA            2031 non-null   float64
 29  VL_RECEITA_TRANSFERENCIA      2031 non-null   float64
 30  VL_RECEITA_OUTRA              2031 non-null   float64
 31  VL_DESPESA_PESSOAL_DOCENTE    2031 non-null   float64
 32  VL_DESPESA_PESSOAL_TECNICO    2031 non-null   float64
 33  VL_DESPESA_PESSOAL_ENCARGO    2031 non-null   float64
 34  VL_DESPESA_CUSTEIO            2031 non-null   float64
 35  VL_DESPESA_INVESTIMENTO       2031 non-null   float64
 36  VL_DESPESA_PESQUISA           2031 non-null   float64
 37  VL_DESPESA_OUTRA              2031 non-null   float64
 38  VL_RECEITA_TOTAL              2031 non-null   float64
 39  VL_DESPESA_TOTAL              2031 non-null   float64
 40  Graduacao                     2021 non-null   float64
 41  Mestrado                      2031 non-null   float64
 42  Doutorado                     2031 non-null   float64
 43  IGC (Faixa)                   2031 non-null   object
dtypes: float64(16), int64(25), object(3)
memory usage: 714.0+ KB

In [5]:
display(IES_df)

,CO_IES,NO_IES,SG_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_REGIAO,CO_UF,CO_MUNICIPIO,IN_CAPITAL,QT_TEC_TOTAL,...,VL_DESPESA_CUSTEIO,VL_DESPESA_INVESTIMENTO,VL_DESPESA_PESQUISA,VL_DESPESA_OUTRA,VL_RECEITA_TOTAL,VL_DESPESA_TOTAL,Graduacao,Mestrado,Doutorado,IGC (Faixa)
0,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,1,5,51,5103403,1,1639,...,1.215729e+08,2149791.80,14695633.36,2.714807e+08,9.218188e+08,9.218188e+08,0.794938,0.132868,0.072194,4
1,2,UNIVERSIDADE DE BRASÍLIA,UNB,1,1,5,53,5300108,1,3171,...,2.119074e+08,19066763.45,11047477.83,4.461472e+08,1.873347e+08,2.875920e+09,0.527417,0.234855,0.237728,4
2,3,UNIVERSIDADE FEDERAL DE SERGIPE,UFS,1,1,2,28,2806701,0,1464,...,1.294492e+08,16413516.13,1030610.47,1.811874e+08,7.852747e+08,7.762519e+08,0.797345,0.127949,0.074706,4
3,4,UNIVERSIDADE FEDERAL DO AMAZONAS,UFAM,1,1,1,13,1302603,1,1706,...,1.551557e+08,15579015.27,1640089.82,1.347048e+08,1.029856e+09,8.061145e+08,0.853464,0.101049,0.045487,4
4,6,UNIVERSIDADE FEDERAL DE OURO PRETO,UFOP,1,1,3,31,3146107,0,750,...,5.506440e+07,1061751.70,733199.99,1.433016e+08,4.909603e+08,4.909603e+08,0.773143,0.156926,0.069931,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026,17593,Faculdade de Botucatu,FDB,4,3,3,35,3507506,0,20,...,0.000000e+00,89763.10,9867.11,5.303535e+05,1.390971e+06,1.388126e+06,1.000000,0.000000,0.000000,3
2027,23410,UNIVERSIDADE ESTADUAL DA REGIÃO TOCANTINA DO M...,UEMASUL,2,1,2,21,2105302,0,66,...,1.232004e+07,5737699.06,285680.10,2.233172e+06,4.561766e+07,4.559323e+07,1.000000,0.000000,0.000000,3
2028,284,FACULDADE DE MEDICINA DE ITAJUBÁ,FMIT,5,3,3,31,3132404,0,59,...,7.245887e+06,4050896.99,304488.45,2.627383e+06,2.080517e+07,2.366783e+07,1.000000,0.000000,0.000000,3
2029,633,INSTITUTO MILITAR DE ENGENHARIA,IME,1,2,3,33,3304557,1,297,...,9.973240e+06,533676.84,229331.90,2.193636e+06,1.004317e+08,9.971941e+07,0.267399,0.360806,0.371795,5
2030,74,FACULDADE DE FILOSOFIA CIÊNCIAS E LETRAS DE SÃ...,FFCL,3,3,3,35,3549706,0,20,...,8.913811e+05,16655.45,0.00,1.204820e+03,2.993357e+06,3.105004e+06,1.000000,0.000000,0.000000,2

In [8]:
IES_df.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\IESs_IGC.csv', sep=';', encoding='latin1')

In [8]:
#informações gerais sobre as IESs

ies_cat = IES_df['TP_CATEGORIA_ADMINISTRATIVA'].value_counts()
display(ies_cat)

ies_org = IES_df['TP_ORGANIZACAO_ACADEMICA'].value_counts()
display(ies_org)

ies_reg = IES_df['CO_REGIAO'].value_counts()
display(ies_reg)

ies_UF = IES_df['CO_UF'].value_counts()
display(ies_UF)

ies_capital = IES_df['IN_CAPITAL'].value_counts()
display(ies_capital)

4    1303
5     935
2     128
1     110
3      36
7      25
Name: TP_CATEGORIA_ADMINISTRATIVA, dtype: int64

3    2068
2     230
1     199
4      38
5       2
Name: TP_ORGANIZACAO_ACADEMICA, dtype: int64

3    1126
2     566
4     414
5     258
1     173
Name: CO_REGIAO, dtype: int64

35    612
31    301
41    196
29    146
33    136
43    121
26    117
52     98
42     97
23     83
32     77
53     66
51     61
15     57
21     53
25     45
22     45
11     35
50     33
27     29
24     29
17     24
13     23
28     19
16     15
12     11
14      8
Name: CO_UF, dtype: int64

0    1633
1     904
Name: IN_CAPITAL, dtype: int64

### Medidas de 'qualidade' e acesso a bases científicas

In [5]:
ies_tec = IES_df[['QT_TEC_TOTAL', 'CO_IES']]
display(ies_tec)

      QT_TEC_TOTAL  CO_IES
0             1639       1
1             3171       2
2             1464       3
3             1706       4
4              750       6
...            ...     ...
2532            66   23410
2533            59     284
2534           297     633
2535            16    3311
2536            20      74

[2537 rows x 2 columns]

In [6]:
ies_capes = IES_df[['CO_IES', 'IN_ACESSO_PORTAL_CAPES']]
display(ies_capes)

      CO_IES  IN_ACESSO_PORTAL_CAPES
0          1                       1
1          2                       1
2          3                       1
3          4                       1
4          6                       1
...      ...                     ...
2532   23410                       0
2533     284                       0
2534     633                       1
2535    3311                       0
2536      74                       0

[2537 rows x 2 columns]

In [7]:
#Medidas de 'qualidade' e acesso a bases científicas
ies_tec = IES_df[['QT_TEC_TOTAL', 'CO_IES']]
display(ies_tec)

ies_capes = IES_df['IN_ACESSO_PORTAL_CAPES'].value_counts()
display(ies_capes)

ies_outrabase = IES_df['IN_ASSINA_OUTRA_BASE'].value_counts()
display(ies_outrabase)

ies_repIn = IES_df['IN_REPOSITORIO_INSTITUCIONAL'].value_counts()
display(ies_repIn)

ies_busca = IES_df['IN_BUSCA_INTEGRADA'].value_counts()
display(ies_busca)

ies_internet = IES_df['IN_SERVICO_INTERNET'].value_counts()
display(ies_internet)

ies_catOn = IES_df['IN_CATALOGO_ONLINE'].value_counts()
display(ies_catOn)

ies_qtPer = IES_df['QT_PERIODICO_ELETRONICO'].value_counts()
display(ies_qtPer)

ies_qtLivro = IES_df['QT_LIVRO_ELETRONICO'].value_counts()
display(ies_qtLivro)

QT_TEC_TOTAL  CO_IES
14581         586       1
23            5473      1
              1237      1
              1456      1
              1569      1
                       ..
83            826       1
              1936      1
              3099      1
              3613      1
1             1254      1
Length: 2031, dtype: int64

0    1246
1     785
Name: IN_ACESSO_PORTAL_CAPES, dtype: int64

1    1283
0     748
Name: IN_ASSINA_OUTRA_BASE, dtype: int64

0    1127
1     904
Name: IN_REPOSITORIO_INSTITUCIONAL, dtype: int64

0    1127
1     904
Name: IN_REPOSITORIO_INSTITUCIONAL, dtype: int64

1    1451
0     580
Name: IN_BUSCA_INTEGRADA, dtype: int64

1    1910
0     121
Name: IN_SERVICO_INTERNET, dtype: int64

1    1603
0     428
Name: IN_CATALOGO_ONLINE, dtype: int64

0        460
22813    103
22203     68
30000     44
1         32
        ...
6500       1
357        1
358        1
35724      1
40959      1
Name: QT_PERIODICO_ELETRONICO, Length: 578, dtype: int64

0        461
16528    103
8000      73
9145      69
10        53
        ...
1200       1
15535      1
7336       1
7334       1
11200      1
Name: QT_LIVRO_ELETRONICO, Length: 683, dtype: int64